/* --------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #212529;
  font-family: "Roboto", sans-serif;
  font-size: 25.6px;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.4em;
  font-weight: bold;
}

p {
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #f4f4f4;
  /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 2em;
  width: 100%;
}

td {
  padding: 15px;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin-top: -15px;
  text-align: center;
  margin-bottom: 30px;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  border-color: #ccc #bbb #aaa;
}
button:active, button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #0066c0;
}
a:visited {
  color: #0066c0;
}
a:hover, a:focus, a:active {
  color: #0066c0;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  left: 100%;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}
.main-navigation li {
  float: left;
  position: relative;
}
.main-navigation a {
  display: block;
  text-decoration: none;
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  padding: 15px 30px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.06);
  background: #f7f7f7;
  margin: 0 0 0 0;
  /* Make sure select elements fit in widgets. */
}
.widget select {
  max-width: 100%;
}
.widget .widget-title {
  margin-top: 10px;
  font-size: 1.2em;
}
.widget ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.widget ul li {
  padding: 15px 0;
  border-bottom: 1px solid #e3e3e3;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
#primary {
  margin-top: 30px;
}

.page-header {
  border-bottom: 0;
  margin: 30px 0 15px;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0;
  padding: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.alignwide {
  margin-left: 0px;
  width: calc(100% + 50px);
  max-width: calc(100% + 50px);
}

.alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
  width: auto;
}

.main-content {
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 15px 30px;
  margin-bottom: 30px;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
}

.article,
article.articles-main section.article {
  padding-right: 45px;
  border: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 15px;
  margin-left: -15px;
  padding: 15px;
}

article.articles-main section {
  border-color: #dfdfdf;
}

.post-meta {
  font-size: 0.8em;
  color: #837e88;
}
.post-meta a {
  color: #837e88;
  font-weight: bold;
}

.single .hentry {
  padding: 0 120px;
}

.tax-company .hentry {
  padding: 0 120px;
}

.home article.category-stock-recommendation,
.category article.category-stock-recommendation {
  border-radius: 4px;
  background-color: #fffcee;
  border: 1px solid #ffe988;
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.company-details.well {
  position: relative;
  margin-top: 30px;
}
.company-details h3 {
  margin-bottom: 30px;
}
.company-details .company-logo {
  position: absolute;
  top: 30px;
  right: 30px;
}
.company-details .company-logo img {
  max-height: 150px;
}
.company-details .company-meta {
  margin-bottom: 10px;
}

.tax-company .company-logo {
  float: right;
  margin-left: 30px;
  margin-bottom: 60px;
}
.tax-company .company-logo image {
  max-height: 150px;
}

.company-description {
  margin-bottom: 30px;
}

.page-numbers {
  color: #fff !important;
  background-color: #0095c8;
  border: none;
  padding: 6px 15px;
  font-size: 12px;
}
.page-numbers:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.page-numbers.current {
  background-color: #999;
}
.page-numbers.current:hover {
  cursor: default;
  box-shadow: none;
}

button.page-link {
  color: #fff;
  background-color: #0095c8;
  border: none;
  padding: 6px 15px;
  font-size: 12px;
}
button.page-link:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
button.page-link.current {
  background-color: #999;
}
button.page-link.current:hover {
  cursor: default;
  box-shadow: none;
}

.hamburger {
  float: right;
  position: relative;
  top: 13px;
  display: none;
}
.hamburger:hover {
  cursor: pointer;
}

.navbar {
  margin-bottom: 0;
  background: #fff;
  border: 0;
  border-top: 10px solid #0095c8;
  z-index: 9;
  border-radius: 0;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.15);
}
.navbar .nav {
  float: right;
}
.navbar a {
  cursor: pointer;
}
.navbar .dropdown-menu {
  border: none;
  padding: 0;
}
.navbar .dropdown-menu li {
  width: 100%;
}
.navbar .navbar-right .dropdown-menu {
  left: 0;
  right: auto;
}
.navbar .navbar-brand {
  height: auto;
}
.navbar .navbar-brand img {
  height: 70px;
  position: relative;
  top: 0px;
}
.navbar li a {
  color: #444;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;
  transition: all 0.2s ease;
}
.navbar li a:hover {
  background-color: #0095c8;
  color: #fff;
}
.navbar li a:active, .navbar li a:focus {
  background-color: #0095c8;
}
.navbar .dropdown-menu li a {
  padding: 15px 30px 15px 15px;
}
.navbar .dropdown-submenu {
  position: relative;
}
.navbar .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.navbar .dropdown-submenu:hover {
  cursor: pointer;
}
.navbar .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #0095c8;
  margin-top: 7px;
  margin-right: -18px;
}
.navbar .dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.navbar .dropdown-submenu.pull-left {
  float: none;
}
.navbar .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.navbar > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  transition: all 0.3s ease;
  color: #0066c0;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #0095c8;
  color: #fff;
  border: none;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

a.mm-btn_next {
  background-color: #0095c8 !important;
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .navbar {
    top: 0;
    height: 80px;
  }
  .navbar .navbar-brand img {
    height: 90px;
    top: -9px;
  }
  .navbar .nav-toggle {
    background: #0095c8;
    margin-top: 6px;
    padding: 15px;
  }
  .navbar .nav-toggle .icon-bar {
    background: #f4f4f4;
  }
  .navbar .nav .open > a, .navbar .nav .open > a:focus, .navbar .nav .open > a:hover {
    background: #0095c8;
  }
  .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background: #0095c8;
  }
  .navbar .navbar-nav .open .dropdown-menu .dropdown-header, .navbar .navbar-nav .open .dropdown-menu > li > a {
    background: rebeccapurple;
  }
  .navbar .navbar-nav > li > a {
    padding: 15px;
  }
}
.admin-bar .sf-header-search {
  top: 32px;
}

.sf-header-search {
  display: none;
  background: #fff;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 2010;
}
.sf-header-search form {
  float: left;
  height: 80px;
  width: 100%;
}
.sf-header-search input[type=text] {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 32px;
  outline: none;
}
.sf-header-search input[type=text]:focus {
  outline: none;
}
.sf-header-search .header-search-close {
  position: absolute;
  right: 26px;
  top: 18px;
  font-size: 30px;
  color: #ccc;
}
.sf-header-search .header-search-close:hover {
  cursor: pointer;
}

.search-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  overflow: hidden;
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/*# sourceMappingURL=style.css.map */
